{% extends 'base.html' %}

{% block content %}
<div class="centerstrip">
    <h2>Home</h2>
    <p>Messages:</p>
    <div class="centercontrast">
    <table class="messages">
        <tr><th>Sender (age)</th><th>Message</th><th>Created at</th></tr>
        {% for message in messages %}
        <tr>
            <td class="td">{{message['username']}} ({{message['age']}})</td>
            <td class="td">{{message['message']|safe}}</td>
            <td class="td">{{message['created_at']}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</div>
{% endblock %}
