{% extends 'base.html' %}

{% block content %}

<form action="/search" method="POST">
    <input type="text" name="query" value="{{ query|e }}">
    <input type="submit" value="Search">
</form>

<div>
    <h2>Search</h2>
    <p>Messages:</p>
    <table>
        <tr><th>Sender (age)</th><th>Message</th><th>Created at</th></tr>
        {% for message in messages %}
        <tr>
            <td>{{ message['username'] }} ({{ message['age'] }})</td>
            <td>{{ message['message']|safe }}</td>
            <td>{{ message['created_at'] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div>
    {% if prev_page < page_number %}
        <a href="?query={{ query|e }}&page={{ prev_page }}">Previous</a>
    {% endif %}
    Page {{ page_number }}
    {% if messages|length == 20 %}
        <a href="?query={{ query|e }}&page={{ next_page }}">Next</a>
    {% endif %}
</div>

{% endblock %}
