{% extends 'base.html' %}

{% block content %}

<form action="/search" method="POST">
    <input type="text" name="query" value={{query|e}}>
    <input type="submit" value="search">
</form>

<div class="centerstrip">
    <h2>Search</h2>
    <p>Messages:</p>
    <div class="centercontrast">
    <table class="messages">
        <tr><th>Sender (age)</th><th>Message</th><th>Created at</th></tr>
        {% for message in messages %}
        <tr>
            {{message['username']}} ({{message['age']}})</td>
            {{message['message']|safe}}</td>
            {{message['created_at']}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</div>

<div>
    {% if prev_page < page_number %}
        <a href="?query={{query|e}}&page={{ prev_page }}" class="menu-items">Previous</a>
    {% endif %}

    Page {{ page_number }}

    {% if messages|length == 20 %}
        <a href="?query={{query|e}}&page={{ next_page }}" class="menu-items">Next</a>
    {% endif %}
</div>
{% endblock %}
